:root {
  --w: #fcfcfc;
  --b: #000;
  --brand: #e8a6a2;
  --primary-color: #ddf247;
  --success: #89d860;
  --error: #ff7144;
  --warning: #f1e43a;
  --info: #00bafb;
}
.d1 {
  font-feature-settings: "clig" off, "liga" off;
  font-size: 140px;
  font-style: normal;
  font-weight: 600;
  line-height: 144px; /* 102.857% */
  letter-spacing: -7.5px;
}
.d2 {
  font-feature-settings: "clig" off, "liga" off;
  font-size: 110px;
  font-style: normal;
  font-weight: 600;
  line-height: 112px; /* 101.818% */
  letter-spacing: -5.5px;
}
.d3 {
  font-feature-settings: "clig" off, "liga" off;
  font-size: 98px;
  font-style: normal;
  font-weight: 600;
  line-height: 104px; /* 106.122% */
  letter-spacing: -4.5px;
}
h1 {
  font-feature-settings: "clig" off, "liga" off;
  font-size: 84px;
  font-style: normal;
  font-weight: 600;
  line-height: 89px; /* 105.952% */
  letter-spacing: -3.5px;
}
h2 {
  font-feature-settings: "clig" off, "liga" off;
  font-size: 63px;
  font-style: normal;
  font-weight: 600;
  line-height: 73px; /* 115.873% */
  letter-spacing: -2.5px;
}
h3 {
  font-feature-settings: "clig" off, "liga" off;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 63px; /* 116.667% */
  letter-spacing: -1.5px;
}
h4 {
  font-feature-settings: "clig" off, "liga" off;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 46px; /* 109.524% */
  letter-spacing: -2px;
}
h5 {
  font-feature-settings: "clig" off, "liga" off;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 117.647% */
  letter-spacing: -1px;
}
h6,
.h7 {
  font-feature-settings: "clig" off, "liga" off;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px; /* 121.429% */
  letter-spacing: -0.6px;
}

@media screen and (max-width: 768px) {
  .d1 {
    font-feature-settings: "clig" off, "liga" off;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 63px; /* 116.667% */
    letter-spacing: -1.5px;
  }
}

body {
  background-color: var(--b);
}
.aic {
  display: flex;
  justify-content: center;
  align-items: center;
}
.debug {
  border: 1px dashed red;
}
.anim {
  transition: all 300ms ease-in;
}

.hover:hover {
  cursor: pointer;
}

.scale10:hover {
  transform: scale(1.01);
}
.underline {
  background: linear-gradient(0deg, currentColor, currentColor) no-repeat right
    bottom / 0 2px;
  transition: background-size 350ms;
  padding-bottom: 2px;
}
.underline:where(:hover, :focus-visible) {
  background-size: 100% 2px;
  background-position-x: left;
}

.shake-bell {
  animation-name: bell-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  display: inline-block;
}

@keyframes bell-animation {
  5% {
    transform: rotate(10deg);
  }

  10% {
    transform: rotate(-10deg);
  }

  15% {
    transform: rotate(10deg);
  }

  20% {
    transform: rotate(0deg);
  }
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rotate {
  animation-name: rotate;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.star-rotate {
  animation-name: rotate;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.54, 0.21, 0.18, 1.35);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.fromleft {
  animation-name: tranlateleft;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
}

@keyframes tranlateleft {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.animhover {
  animation-play-state: paused;
}

.animhover:hover {
  animation-play-state: running;
}

.message-success {
  color: #42bf1e;
  font-weight: bold;
}

.message-error {
  color: #e43f67;
  font-weight: bold;
}

/* // */
.mf-cursor:before.-brand .mf-cursor-text {
  color: var(--b);
  font-weight: bold;
  font-size: 1.2rem;
}
.mf-cursor.-review .mf-cursor-text {
  filter: invert(1);
  /* color: var(--black); */
  font-weight: bold;
  font-size: 0.7rem;
  transform: scale(2);
}
.mf-cursor.-inverse .mf-cursor-text {
  color: var(--b);
  font-weight: bold;
  font-size: 1.2rem;
}

.stick-me {
  cursor: none;
  background-color: #101010;
  border-radius: 10px;
  padding: 10px 30px;
  color: var(--brand);
  width: 300px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.2rem;
}
.stick-me:hover {
  /* background-color: var(--brand); */
  color: var(--primary-color);
}

@keyframes img-position {
  0%,
  25%,
  75% {
    scale: 1.1;
    object-position: top;
  }
  10%,
  35%,
  55% {
    scale: 1.9;
    object-position: bottom;
  }
  100% {
    transform: scale(1);
    object-position: center;
  }
}
